@media (max-width: 760px) {
	html, body {
	    max-width: 760px;
	    max-height: 1150px;
	    overflow:hidden;
	}
	body {

	}
	#footer {

	    

	}
	#header h1 {
	    margin-top: .6em;
	    left: 0;
	    margin: .3em auto .2em auto;
	    /*width: 36em;*/
	}

	#header p#mobP {
		letter-spacing: normal;
		position: relative;
		top: -20.3em;
		left: -12px;
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		width: 92%;
	}
	ul.actions.fit.small {
	     left: 30%;
	}
	div#buttons-wrapper {
    top: -2.15em;
    left: 14.05em;
}
}

@media (max-width: 750px) {
	div#buttons-wrapper {
	   
	       left: 13.55em;
	}
	#header h1 {

	}
	#header p {

	}
	div#buttons-wrapper {

	}
	section#customMap {

	}
}