@media (max-width: 700px) {
	html, body {
	    max-width: 700px;
	    max-height: 1024px;
	}
	body {

	}
	#footer {

	    

	}

/*	#header h1 {
	
	}
	#header p {
	
	}
	#header h1 {
    padding-top: .75em;
    width: 36em;
}*/
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		    width: 94%;
	}
	ul.actions.fit.small {
	 
	}
	div#buttons-wrapper {
	   
	    left: 12.25em;
	}
	a#exit-service-overlay.fa-close {

	    left: 32.35em;

	}
	md-card#overlay-data-window {
	    /*width: 50%;*/
	    height: 11em;

	}

	button.navbar-toggle {
		left: 50em;
	}

}